*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.timpsec{
    background-color: #1e1e1e;
    min-height: 100vh;
    width:100%;
}

.container{
    position: relative;
}
/* -------------------weather box---------------------------*/

.weather{
    background-color: #546a7e59;
    width: 443px;
    height: 161px;
    border-radius: 52px;
    position: absolute;
    left:796px;
    /* top:131px; */
    display: flex;
    box-shadow: 1px 1px 2px 2px #00000073;
}

.statusPicture img {
    position: absolute;
    top: 45px;
    left: 318px;
    width: 25%;
}

.details{
    position: absolute;
    top:26px;
    left:70px;
    color:#fff;
    font-weight: bolder;
}

.day{font-size: large;}

.date_month{position: absolute;left:140px;top:2px;}
.date_num{position: absolute;left:115px;top:3px;}

.temper{position: relative;}

.temp{
    font-size: 65px;
    margin-left: 7px;
}

.cel{
    position: absolute;
    top: 12px;
    left: 83px;
}

.status{
    /* margin-left: 28px; */
    font-size: 21px;
}

/* ------------------------time box ------------------------- */
.time{
    background-color: #546a7e59;
    width: 443px;
    height: 161.36px;
    border-radius: 52px;
    position: absolute;
    left:156px;
    /* top:131px; */
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 1px 2px 2px #00000073;
}

.icon_line{display: flex;}
 
.iconOfTime{
    position: absolute;
    top:25px;
    left:60px;
    color:#fff;
    font-size: 30px;
    
}  

.verticalLine{
    position: absolute;
    width:1px;
    height: 25px;
    background-color: white;
    top:22px;
    left:105px;
}

.detailsTime{
    position: absolute;
    top:31px;
    left:125px;
    color:#fff;
    font-weight: bolder;
}

.city{font-size: larger;}

.currentTimeInHour {
    font-size: 55px;
    position: absolute;
    left: -4px;
}

.currentTimeInMin{
    font-size: 55px;
    position: absolute;
    left: 80px;
}

.statusTime{
    rotate:270deg;
    color:#fff;
    margin-left: 160px;
    font-size: large;
}
/* end time_box */


/* search -------------------------------------*/

.content {
    width: 100%;
    /* min-height: 100vh; */
    padding: 3%;
    display: flex;
    justify-content: right;
}

.search_bar {
    width: 100%;
    height: 7vh;
    max-width: 310px;
    background: #2e2c2c;
    display: flex;
    align-items: center;
    border-radius: 65px;
    padding: 16px 9px;
}

.search_bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 20px 13px;
    font-family: 'Poppins';
    font-size: 20px;
    color: #2e2c2c;
}

::placeholder {color: #6d6868;} 

.search_bar button {
    border: 0;
    border-radius: 50%;
    width: 28px;
    height: 27px;
    background: #f3f0f3;
    cursor: pointer;
}

.search_bar button i { width: 30px;}
   
.search_bar #text {
    display: flex;
    justify-content: left;
    position: absolute;
    left: 45px;
    top: 24px;
    font-size: 32px;
    font-family: 'Fira Code';
    font-weight: bold;
    color: #E5ECE9;
    padding: 1px;
    border-radius: 5px;
    line-height: 52px;
    letter-spacing: 4px;
}
/* end search_box.............................................*/



/* Media queries for mobile screens */
@media screen and (max-width: 767px) {
    .time{left: 37px; border-radius: 72px;  top: 40px;  width: 340px; height: 135px;}
    .weather{border-radius: 72px;width: 340px;left: 37px; top: 194px; height: 135px;}
    .statusPicture img{left: 253px; width: 24%; top: 42px;}
    .statusTime{margin-left: 391px;}
    .temp{font-size: 40px;}
}



/* for tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
   .time{ width:320px; top:100px; left:44px; }
   .weather{ width: 320px; top:100px; left:400px;}
   .statusPicture img{ left: 225px; top: 62px; width: 30%;}
   .statusTime{margin-left: 400px;}

}

